h1 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

textarea {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 50px;
    background-color: #95c766;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color:black;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button {
    background-color: #6485288e;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
    border-color:black;
}

textarea {
    resize: none;
}

.radio-group-inline {
    display: flex;
    gap: 15px;
    align-items: center;
}
.radio-group-inline label {
    display: flex;
    align-items: center;
    gap: 5px;
}